
.navbar{
    background-color: black ;
line-height: 25px;
word-spacing: 20px;
text-align: justify;
}
img.apple{
    width: 30px;
    height: 30px;
}
img.search,img.bag{
    width: 20px;
    height: 20px;
}
p.navbarlist{
    color: white;
}
.iphone{
    padding: 30px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    color: white;
    text-align: center;
    background-image: url(Images/iphone\ 15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500PX;
    margin-bottom: 30px;
}
.iphone2{
  padding: 30px ;
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/iphone\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500PX;
    margin-bottom: 30px;
}

#logo{
    height: 20px;
    width: 30px;
}

.watch{
    padding: 30px ;
    font-weight: 400px;
    font-size: 25px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/watch\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500PX;
    margin-bottom: 30px;
   color: white;
}

.ipad{
    padding: 30px ;
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/ipaad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500PX;
    margin-bottom: 30px;
   color: white;
}

#m2{
    height: 20px;
    width: 20px;
}

.mac{
    
    padding: 20px ;
    font-size: 20px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url(Images/macbook.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    height: 800PX;
      color: rgb(0, 0, 0);
   
}


.man{
   
    
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/man.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000PX;
    margin-bottom: 30px;
   color: white;
   
}


#abc{
    width: 30px;
    height: 20px;
}

.pods{
    padding: 30px ;
    font-weight: 400px;
    font-size: 25px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/airpods.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000PX;
    margin-bottom: 30px;
   color: white;
   
}

.twophone{
    
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/two\ phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500PX;
    margin-bottom: 30px;
   color: rgb(3, 2, 2);

}

#def{
    width: 30px;
    height: 20px;
    background-color: black;
}

.card{
   
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url(Images/card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800PX;
    margin-bottom: 30px;
   color: rgb(3, 2, 2);
}

.extra{

    /* background: rgb(199, 214, 199); */
    height: 300%;
  width: 50%;
   text-align: justify;
   margin-left: 350px;
font-size: 20px;
}
.hii{
    color: white;
    margin: 20px;
    font-size: 25px;
}